.idea
node_modules
generated
.sass-cache
ignore-*
app/lib
bower_components
devices/cordova
devices/phonegap
devices/tmp
server/config/configLocal.coffee
tmp_deploy
tmp
karma_html
test/karma_html
log
data
like_monitor
email_trafo
crowdcloud/haproxy/*.pem

